@forward "variables.scss";
@forward "mixins.scss";
@use "mixins.scss" as *;
@use "variables.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1.2rem;
}

h1 {
  font-size: 1.5rem;
  @include changeFont(1.5rem);
}

h2 {
  font-size: 1.3rem;
  @include changeFont(1.3rem);
}

h3 {
  font-size: 1.2rem;
  @include changeFont(1.2rem);
}

h4 {
  font-size: 1rem;
  @include changeFont(1.1rem);
}
